/* ===== NAVBAR WRAPPER (CENTER IT PROPERLY) ===== */
.navbar-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* ===== ROUNDED GLASS NAVBAR BOX ===== */
.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;   /* left & right spacing */

  background: rgb(251, 250, 250);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  transition: 0.3s ease;
}

/* Shadow when scrolled */
.navbar.scrolled {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);
}

/* ===== LOGO ===== */
.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  height: 75px;   /* Bigger but controlled */
  width: auto;
  display: block;
}

/* ===== NAV LINKS CONTAINER ===== */
.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

/* ===== BUTTON STYLE ===== */
.nav-btn {
  display: flex;            /* important for vertical centering */
  align-items: center;      /* vertical center text */
  justify-content: center;  /* horizontal center text */

  text-decoration: none;
  padding: 10px 22px;       /* increased height */
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #000;

  white-space: nowrap;      /* prevents "About Us" from breaking */

  background: linear-gradient(
    to right,
    rgb(221, 220, 220),
    white,
    rgb(222, 221, 221)
  );

  border: 0.2px solid black;
  transition: all 0.25s ease;
}

/* Hover Effect */
.nav-btn:hover {
  background: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
/* ========================= */
/* RIGHT - SEARCH BAR */
/* ========================= */
.nav-search {
  display: flex;
  align-items: center;
  background: #d6d5d5;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #080808;
}

.nav-search input {
  border: none;
  padding: 8px 15px;
  outline: none;
  font-size: 14px;
  width: 110px;
  background:#d6d5d5;
}

.nav-search button {
  border: none;
  background: transparent;
  padding: 5px 12px;
  cursor: pointer;
  font-size: 14px;
  background:#d6d5d5;
}